body {
    text-align: center;
    font-family: 'Allerta Stencil', sans-serif;
    background-color:white;
}
.pannel {
    border: 1px solid gainsboro;
    padding: 50px; 
    height: 100vh;
}
.error{
    
}
.alert-danger{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
#confettiImage{
     position:absolute;
     display:none;
     top:0;
     left:0;
     width:100%;
     z-index:0;
     opacity:0.5;
}


textarea{
    height:430px;
    width: 100%;
    border-radius: 6px;
    margin-bottom: 15px;
    border-color: gainsboro;
}
.buttonStyle{
    margin-bottom: 30px;
}